.login {
	    margin: 0 auto;
    width: 40%;

} 
.login-head {margin-bottom: 50px;}
/* .bg-login  {
	background: #ffffff;
	padding: 10px;
	border: 1px solid #eaeaea;
} */
.bg-login .text-danger{
	border: 1px solid #dd1b16;
    padding: 10px;
    float: left;
    width: 100%;
    text-align: center;
    background: #dd1b16;
    color: #fff !important;
}
.bg-login .form-control {
	padding: 15px;
	margin-top: 5px;
}
.bg-login .form-group small > div {
	color: #f00000;
	margin-top: 5px; 
	font-size: 12px;
	text-align: right;
    float: right;
}
.head-login h2 {margin-bottom: 0;}
.forgot {
	background: #5531bf;
	padding: 25px;
    color: #fff;
		
	position: relative;
}
.head-login {background: #5531bf;
	padding: 25px;
    color: #fff;
		
	position: relative;}
.arrow:before, 
.arrow:after { position: absolute;
    left: 34px;
    bottom: -19px;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 25px 19px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #5531bf;
    content: ' ';
}
.arrow:before { left: 33px;
    bottom: -21px;
    border-left-color: #f4f4f4;}
