<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START LOGIN SECTION -->
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 *ngIf="selectedLang!=1">Forgot Password</h3>
                                <h3 *ngIf="selectedLang==1">هل نسيت كلمة المرور</h3>
                            </div>
                            <form #signupform="ngForm" (ngSubmit)="onSubmit(signupform);" class="width100p flt_left">
                                
                                <div class="form-group">
                                    <!-- <label>Email Address:
                                        <sup>*</sup>
                                    </label> -->
                                    <input  placeholder="{{selectedLang!=1?'Enter your Email Address':'أدخل عنوان بريدك الالكتروني'}}" minlength="3" autocomplete="off" maxlength="255" required class="form-control"
                                     [(ngModel)]="signup.username" type="email" name="username" id="username" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                    <small *ngIf="email.invalid && (email.dirty || email.touched)" class="b_alert b_alert_danger">
        
                                        <div *ngIf="email.errors.required">
                                            <span *ngIf="selectedLang!=1">Email Address is required.</span>
                                            <span *ngIf="selectedLang==1">عنوان البريد الإلكتروني مطلوب.</span>
                                          </div>
                          
                                          <div *ngIf="email.errors.minlength">
                                            <span *ngIf="selectedLang!=1">Email Address must be at least 3 characters long.</span>
                                            <span *ngIf="selectedLang==1">يجب أن يكون عنوان البريد الإلكتروني 3 أحرف على الأقل.</span>
                                          </div>
                                          <div *ngIf="email.errors.maxlength">
                                            <span *ngIf="selectedLang!=1">Email Address must be maximum 255 characters long.</span>
                                            <span *ngIf="selectedLang==1">يجب أن يكون الحد الأقصى لعنوان البريد الإلكتروني 255 حرفاً.</span>
                                          </div>
                          
                                          <div *ngIf="email.errors.pattern && !email.errors.minlength ">
                                            <span *ngIf="selectedLang!=1">Email must be valid.</span>
                                            <span *ngIf="selectedLang==1">يجب ان يكون البريد الاكتروني صحيح.</span>
                                          </div>
                                    </small>
                                </div>
    
                                <div class="form-group">
                                    <button *ngIf="selectedLang!=1" [disabled]="!signupform.form.valid" [class.mousenotallowed]="!signupform.form.valid" type="submit" class="btn btn-fill-out btn-block"
                                     name="submit">Login</button>

                                     <button *ngIf="selectedLang==1" [disabled]="!signupform.form.valid" [class.mousenotallowed]="!signupform.form.valid" type="submit" class="btn btn-fill-out btn-block"
                                     name="submit">تسجيل الدخول</button>
                                </div>
                            </form>
                            
                            <div *ngIf="selectedLang!=1" class="form-note text-center">Already Have an Account? 
                                <a routerLink="/login" routerLinkActive="active" > Login</a>
                            </div>
                            <div *ngIf="selectedLang==1" class="form-note text-center">هل لديك حساب؟
                                <a routerLink="/signup" routerLinkActive="active" > تسجيل الدخول</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN SECTION -->
    
   
    
    </div>
    <!-- END MAIN CONTENT -->
    


<!-- <section class="container-lg">
  <div class="login-head easy">
    <div class="login">
      <div class="head-login easy">
        <div class="col-md-12 col-lg-12 col-sm-12 section-head">
          <h2>Forgot Password - Client Portal</h2>
        </div>
      </div>
      <div class="bg-login easy">
        <div class="row">
        </div>
        <form #signupform="ngForm" (ngSubmit)="onSubmit(signupform);" class="width100p flt_left">
          <div class="col-md-12">
            <div class="form-group" *ngIf="invalid_signup">
              <span class="text-danger">Email and/or password invalid!</span>
            </div>
            <div class="form-group" *ngIf="!email_sent">
              <label>Email Address:
                <sup>*</sup>
              </label>
              <input placeholder="Enter your Email Address" minlength="7" autocomplete="off" maxlength="255" required class="form-control"
                [(ngModel)]="signup.email" type="email" name="email" id="email" #email="ngModel">
              <small pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" *ngIf="email.invalid && (email.dirty || email.touched)" class="b_alert b_alert_danger">
                <div *ngIf="email.errors.required">
                  Email Address is required.
                </div>
                <div *ngIf="email.errors.minlength">
                  Email Address must be at least 7 characters long.
                </div>
                <div *ngIf="email.errors.maxlength">
                  Email Address must be maximum 255 characters long.
                </div>
                <div *ngIf="email.errors.pattern && !email.errors.minlength ">
                  Email must be valid.
                </div>
              </small>
            </div>

            <div class="form-group" *ngIf="email_sent">
              <label>Token:
                <sup>*</sup>
              </label>
              <input placeholder="Enter your token" minlength="7" autocomplete="off" maxlength="255" required class="form-control" [(ngModel)]="token.token"
                type="token" name="token" id="token" #token="ngModel">
              <small pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" *ngIf="token.invalid && (token.dirty || token.touched)" class="b_alert b_alert_danger">

                <div *ngIf="token.errors.required">
                  token Address is required.
                </div>

                <div *ngIf="token.errors.minlength">
                  token Address must be at least 7 characters long.
                </div>
                <div *ngIf="token.errors.maxlength">
                  token Address must be maximum 255 characters long.
                </div>

                <div *ngIf="token.errors.pattern && !token.errors.minlength ">
                  Email must be valid.
                </div>


              </small>
            </div>

            <div class="form-group flt_left">

              <button [disabled]="!signupform.form.valid" [class.mousenotallowed]="!signupform.form.valid" type="submit" class="solid-btn flt_right"
                name="submit" id="submit">Reset</button>
            </div>

          </div>
        </form>

      </div>
      <div class="forgot easy arrow">
        <div class="right mobile-full">
          <a routerLink="/login" routerLinkActive="active" class="signupclass">Already Have Account? Login</a>
        </div>
      </div>
    </div>
  </div>
</section> -->