.content-block {
    background-color: #fff;
    width: 500px;
    margin: auto;
    border: 1px solid #dddfe2;
    border-radius: 3px;
  }
  
  .loader-wrapper {
    height: 300px;
    padding: 12px;
  }
  
  .loader-animation {
    background: #f5f6f7;
    height: 104px;
    overflow: hidden;
    position: relative;
  }
  
  .loader-animation>div {
    background: #fff;
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
  }
  
  .loader-animation::before {
    background-color: #f5f6f7;
    background-image: url(https://i.postimg.cc/VLC3WF9t/3pk-Fb-IT7-rn.gif);
    background-repeat: repeat-y;
    background-size: 100% 1px;
    content: ' ';
    display: block;
    height: 100%;
  }
  
  
  /*
    Below we position the mask divs
  */
  
  .block-a.block-a 
  /* 
  Have no idea why this written like this, without it the ui breaks works, can anyone explain this ?
  */
  {
    background-color: transparent;
    border: 8px solid #fff;
    border-radius: 50%;
    height: 40px;
    left: -8px;
    top: -8px;
    width: 40px;
  }
  
  
  div.block-b {
    height: 40px;
    left: 40px;
    right: auto;
    top: 0;
    width: 8px;
  }
  
  div.block-c {
    height: 8px;
    left: 48px;
    top: 0;
  }
  
  div.block-d {
    left: 136px;
    top: 8px;
  }
  
  div.block-e {
    height: 12px;
    left: 48px;
    top: 14px;
  }
  
  div.block-f {
    left: 100px;
    top: 26px;
  }
  
  div.block-g {
    height: 10px;
    left: 48px;
    top: 32px;
  }
  
  div.block-h {
    height: 20px;
    top: 40px;
  }
  
  div.block-i {
    left: 410px;
    top: 60px
  }
  
  div.block-j {
    height: 13px;
    top: 66px
  }
  
  div.block-k {
    left: 440px;
    top: 79px
  }
  
  div.block-l {
    height: 13px;
    top: 85px
  }
  
  div.block-m {
    left: 178px;
    top: 98px
  }
  .buy_now {    background: #facd1c;
    border: 1px solid #facd1c;
    padding: 8px 15px;
    float: left;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    z-index: 999;
    bottom: 12px;
    left: 20px;}
.buy_now:hover {
  background: #2a2a2a;border: 1px solid #2a2a2a;
}

.buy_now_ar {background: #facd1c;
  border: 1px solid #facd1c;
  padding: 8px 15px;
  float: left;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  z-index: 999;
  bottom: 12px;
  right: 20px;}
  .buy_now_ar:hover {
    background: #2a2a2a;border: 1px solid #2a2a2a;
  }
  .product_img {
    justify-content: center;
    display: flex;
    align-items: center;
  }